.txt {
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

h1 {
  font-weight: 600;
  font-size: 2.5em;
}

.form-contenedor {
  box-sizing: border-box;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 40px;
}

.inicia-txt {
  text-align: start;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 1.1em;
}


.form-control {
  height: 50px;
  background-color: #252525f5;
  color: #777;
  border: none;
}



.label-txt {
  color: #999;
  font-weight: 200;
  font-size: 1em;
}

.d-grid {
  padding-top: 32px;
  padding-bottom: 8px;
}

.btn {
  height: 50px;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  font-size: 1.1em;
}


@media only screen and (min-width: 740px) {

  .txt {
    height: 15%;
    padding: 0;
  }


  .form-contenedor {
    box-sizing: border-box;
    width: 400px;
    height: 65%;
    border-radius: 8px;
    background: #000000c7;

  }

}